html {
  position: relative;
  font-family: "Roboto", sans-serif;
}
body {
  position: relative;
  margin: 0;
}
.container {
  max-width: 1140px;
  padding: 0 30px;
  margin: 0 auto;
}

/* HEADER */

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 0;
}
a {
  color: #ffffff;
  text-decoration: none;
  font-size: 50px;
  font-weight: 100;
}

/* PROMO */

.promo {
  background: url(/src/img/main_bg.jpg) center center/cover no-repeat;
  filter: blur(1);
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.promo__desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 85px;
}
.promo__text {
  font-size: 50px;
  color: #ffffff;
  text-align: center;
}
.promo__btn {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
  border: none;
  cursor: pointer;
  font-size: 30px;
  padding: 20px 70px;
  border-radius: 10px;
}
.promo__btn:hover {
  transition: 0.6s all;
  scale: 1.05;
}

/* INTRO */

.intro {
  margin-top: 65px;
}
.intro__title {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.intro__list {
  margin-top: 50px;
  display: flex;
  align-items: center;
  gap: 200px;
}
img {
  width: 350px;
  height: 100%;
}
.intro__text {
  font-size: 25px;
  text-align: center;
}

/* ABOUT */

.about {
  margin-top: 80px;
}
.about__list {
  list-style-type: none;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
li {
  font-size: 25px;
  text-align: center;
}

/* OBJECTIVE */

.objective {
  margin-top: 60px;
}
.objective__text {
  font-size: 25px;
  margin-top: 50px;
  text-align: center;
}
.objective__subtext {
  margin-top: 100px;
}
.objective__btnholder {
  display: flex;
  justify-content: center;
  margin-top: 65px;
}
.btn_prime {
  background: none;
  margin-bottom: 100px;
  color: #000000;
  border: 2px solid #000000;
}
.btn_prime:hover {
  transition: 0.6s all;
  scale: 1.01;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}

/* FOOTER */
.footer {
  background: #000000;
  width: 100%;
}
.footer__text {
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 25px;
  padding: 20px 100px;
  text-align: center;
}
.sponsor__title {
  margin: 60px 0 30px 0;
}
.sponsor__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 40px;
}
.sponsor__list span {
  background: #000000;
  color: #ffffff;
  padding: 0 10px;
  border-radius: 7px;
}
.sponsor__mail {
  margin: 20px 0 40px 0;
  display: flex;
  gap: 62px;
  justify-content: center;
}
.sponsor__subtitle {
  font-size: 30px;
}
.mail__link {
  color: #000000;
  font-size: 20px;
}
@media (max-width: 768px) {
  a {
    font-size: 35px;
  }
  .promo__text {
    font-size: 35px;
    margin-top: 45px;
  }
  .promo__btn {
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 10px;
  }
  .intro__title {
    font-size: 35px;
  }
  .intro__text {
    font-size: 15px;
  }
  .intro__list {
    gap: 100px;
  }
  .about__list {
    gap: 50px;
  }
  li {
    font-size: 18px;
  }
  .objective__text {
    font-size: 18px;
  }
  .btn_prime {
    margin-bottom: 100px;
    border: 2px solid #000000;
    font-size: 15px;
  }
  .footer__text {
    font-size: 14px;
  }
}

@media (max-width: 425px) {
  .header {
    height: 50px;
  }
  a {
    font-size: 30px;
  }
  .promo__desc {
    gap: 30px;
  }
  .promo__text {
    font-size: 20px;
    margin-top: 45px;
  }
  .promo__btn {
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
  }
  .intro__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .intro__title {
    font-size: 25px;
  }
  .intro__text {
    font-size: 12px;
  }
  .about__list {
    padding: 0;
  }
  .objective__text li {
    font-size: 14px;
  }
  .footer__text {
    font-size: 10px;
    padding: 10px 50px;
  }
  .sponsor__mail {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  li {
    font-size: 16px;
  }
}
.sponsor__text {
  font-size: 25px;
  display: flex;
  justify-content: center;
  margin: 30px;
}
